body {
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    background: url('img/header_img.PNG') no-repeat center center;
    background-size: cover;
    color: white;
}
#contact{
    background: url('img/contact_info2.png') no-repeat center center;
    background-size: cover;
    color: white;
}

b {
    color: blue;
}



/* h1.display-4 {
    color: orange;
} */

.fixed-subscribe-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}